.ui.form
  = simple_form_for @profile, url: profile_path(@user.slug), method: :put, html: { multipart: true } do |f|
    .field
      = f.input :first_name, label: I18n.t('common.first_name'), input_html: { size: 20 }
    .field
      = f.input :last_name, label: I18n.t('common.name'), input_html: { size: 20 }
    .actions
      = f.button :submit, I18n.t('common.save')
