#profile-edit
  %h3.ui.header.block.black
    %i.icon.user
    Editer mon profil

  .ui.grid
    .five.wide.column.upload
      .ui.segment.upload-form
        - if @profile.avatar?
          = render 'profiles/edit_avatar', profile: @profile, user: @user
        - else
          = render 'profiles/form_avatar', profile: @profile, user: @user
    .eleven.wide.column
      = render 'form'


  - if can? :destroy, @user
    .delete-account
      = link_to 'Supprimer mon compte', profile_path(@user.slug), method: :delete
