%p#notice= notice
%p
  %strong Pr&eacute;nom:
  = @user.profile.first_name
%p
  %strong Nom:
  = @user.profile.last_name
- if current_user == @user
  = link_to 'Editer', edit_profile_path(@user.username)
