%h4.ui.black.block.header
  %i.icon.home
  Dashboard
#dashboard-index.ui.grid.two.column.stackable
  .column
    .ui.segment.hoverable
      .row
        .info-icon.inline-block
          %i.icon.user
        .info-count.inline-block
          = "#{User.count} Utilisateurs"
  .column
    .ui.segment.hoverable
      .row
        .info-icon.inline-block
          %i.icon.suitcase
        .info-count.inline-block
          = "#{Product.count} Produits"
