#status-closed-card
  .ui.segment.index-user.dimmable.dimmed
    .ui.grid
      .ui.dimmer.visible.active
        .content
          .center
            %h2.ui.inverted.icon.header
              %i.icon.circular.inverted.emphasized.red.ban.circle
    .ui.bottom.attached.label
      %span
        = status.user.username
      %span.right.open
        = simple_form_for status, url: product_status_path(product_id: @product.slug, id: status.user.slug), method: :put, class: '' do |f|
          = f.hidden_field :closed, value: false
          = f.button :button, 'Réouvrir la discussion'
