#conversations
  %h2
    = "Personne(s) intéressée(s) par #{@product.name}"
  - if @status.empty?
    = 'Aucun message pour ce produit'
  - else
    .ui.grid.two.column.stackable
      - @status.each do |status|
        .column
          = render 'status_card', status: status, message: @product.last_message_with(status.user)
