.itemr
	margin-bottom: 7px
.row.main-contenaire > .ui.grid 
	font-size: 1rem
	margin-top: 0%
.ui.grid > .row.downlink
	font-size: 1em
.transparent-button
	background: transparent
	border: none
	&:hover
		color: yellow
		cursor: pointer
.transparent-button:focus
	outline: none
	border: none
.colorstar
	color: yellow
.ui.three.items > .item.photos
	min-height: 180px
	cursor: default
	&:hover
.starpop

	&:hover
		cursor: pointer
.ui.corner.label.starpop
	border-color: rgb(250, 228, 111)

		



