.itemr
	margin-bottom: 7px
.row.main-contenaire > .ui.grid 
	font-size: 1rem
	margin-top: 0%
.ui.grid > .row.downlink
	font-size: 1em
.transparent-button
	background: transparent
	border: none
	&:hover
		color: yellow
		cursor: pointer
.transparent-button:focus
	outline: none
	border: none
.colorstar
	color: yellow
.ui.three.items > .item.photos
	min-height: 180px
	cursor: default
	&:hover
.starpop

	&:hover
		cursor: pointer
.ui.corner.label.starpop
	border-color: rgb(250, 228, 111)

.no-box-shadow
	box-shadow: none !important
.no-hover:hover
	cursor: default !important
.right
	float: right


#conversation
	.ui.vertical.menu
		.label
			background-color: #564F8A !important
		.active
			border-color: #564F8A !important
			color: #564F8A !important
	.messages
		margin: 30px 0
		border-bottom: solid 1px #E8E8E8
	.message
		margin: 10px 0
	.underline
		&:hover
			text-decoration: underline
	.cant-respond
		text-align: center
		font-size: 26px
		margin-bottom: 20px