#conversations
  .segment
    min-height: 220px
  .right
    float: right
  .index-user
    .ban
      &:hover
        color: red
    .messages
      &:hover
        color: #B9B9B9
      a
        &:hover
          color: #B9B9B9
    .check
      &:hover
        color: green
    .ui.bottom.attached.label
      z-index: 1000