// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-products
  .index-products
    .column
      margin-top: 0
  .block-categories
    padding-top: 0
  .index-product
    text-align: center
    a
      font-size: 18px
    .ui.buttons
      width: 100%
      .eye-button
        width: 100%
      .setting-button
        width: 50%
      .list-button
        width: 50%
      i
        padding-left: 6px
    .row
      padding: 10px 0
    .product-name
      min-height: 36px
      a
        margin-top: 15px
        padding-bottom: 5px
        font-size: 16px
        color: #564F8A
        font-weight: bold
        min-height: 54px
    .product-messages
      font-size: 14px
      color: grey
      height: 18px
      .icon.checkmark
        font-size: 12px
      .icon.mail
        font-size: 15px
        margin-right: 0
    .product-actions
      padding-bottom: 0
      margin-top: 10px
  .user-products-categories
    width: 100%
    .label
      background-color: #564F8A !important
    .active
      border-color: #564F8A !important
      color: #564F8A !important
    .label
      background-color: #564F8A !important



#product-show
  .ui.segment
    box-shadow: none
  .product-label
    background-color: #944e96
    color: white
    font-size: 20px
  .product-title
    font-size: 20px
    color: #564F8A
  .item#owner
    .content
      line-height: 2
      font-size: 20px

  .resposetime
    margin-top: 15px

  #product-carousel 
    max-width: 596px
    .photo-cont
      img
        height: 300px 
    .bx-wrapper
      align: center
      margin: 0 auto
      .bx-viewport
        border: solid #D4BEE2 5px !important
    #product-control

  #product-pager
    text-align: center
#form-comment
  .comm-avatar
    margin-top: 30px
    img
      height: 150px

#categorie-show,
#subcategorie-show
  margin-top: 10px
  .ui.items
    .item
      &:hover
        border-bottom: 0.2em solid #944e96 !important
    .product-name
      color: #944e96
    .price
      text-align: center
      color: #944e96
      font-size: 20px

#products-new
  .category-field
    padding-left: 100px

#products-new,
#products-edit
  .main-menu
    width: 240px
  .icon-field
    width: 5%
    i
      padding-top: 34px
  .category-field
    width: 60%
    padding-top: 34px
    .ui.dropdown
      padding-left: 30px



