// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-products
  h2
    font-size: 30px
    margin-top: 20px
  .index-products
    .column
      margin-top: 0
  .block-categories
    padding-top: 0
  .index-product
    text-align: center
    a
      width: 100%
      font-size: 18px
    .row
      padding: 10px 0
    .product-name
      min-height: 36px
      a
        margin-top: 15px
        padding-bottom: 5px
        font-size: 16px
        color: #564F8A
        font-weight: bold
        min-height: 54px
    .product-messages
      font-size: 14px
      color: grey
      height: 18px
      .icon.mail
        margin-right: 0
    .product-actions
      padding-bottom: 0
  .user-products-categories
    width: 100%
    .label
      background-color: #564F8A !important
    .active
      border-color: #564F8A !important
      color: #564F8A !important
    .label
      background-color: #564F8A !important



#product-show
  .ui.segment
    box-shadow: none
  .title
    color: #564F8A

  #product-carousel 
    max-width: 596px
    .bx-wrapper
      margin: 0 auto 15px
      .bx-viewport
        border: solid #D4BEE2 5px !important

  #product-pager
    text-align: center
