#conversations
  .segment
    min-height: 220px
  .right
    float: right
  .left
    float: left
  .index-user
    .ban
      &:hover
        i
          color: red
    .messages
      &:hover
        color: #B9B9B9
      a
        &:hover
          color: #B9B9B9
    .check
      &:hover
        i
          color: green
  .ui.bottom.attached.label
    z-index: 1001
    height: 37px
    span:first
      text-align: left
    button
      height: 10px
      border: none
      background: none !important
      border: none
      line-height: 1px
      color: rgba(0, 0, 0, 0.65)
      font-weight: normal
      font-size: 0.8125rem
      &:hover
        text-decoration: underline

#status-card
  .actions
    button
      background-color: transparent !important
      width: 0  
      padding: 0 !important
      i
        margin-left: 2px
        color: #666
  .dimmer
    h2
      margin-top: 18px
      margin-bottom: 0
    span
      color: white
      font-size: 20px
      font-weight: bold
  .closed
    button
      padding: 0 !important
