#conversations
  .segment
    min-height: 220px
  .right
    float: right
  .index-user
    .ban
      &:hover
        i
          color: red
    .messages
      &:hover
        color: #B9B9B9
      a
        &:hover
          color: #B9B9B9
    .check
      &:hover
        i
          color: green
    .ui.bottom.attached.label
      z-index: 1000

#status-card
  .actions
    form
      button
        background-color: transparent !important
        padding: 0 !important

#status-closed-card
  .open
    button
      height: 10px
      border: none
      background: none !important
      border: none
      line-height: 1px
      color: rgba(0, 0, 0, 0.65)
      font-weight: normal
      font-size: 0.8125rem
      &:hover
        text-decoration: underline