.ui.grid.page
	.ui.menu.no-box-shadow
		- main_category.subcategories.each do |category|
			- active_item = request.url.include?(category_subcategory_path(@category.slug, category.slug)) ? 'active' : ""
			= link_to category.name, category_subcategory_path(@category.slug, category.slug), class: "item #{active_item}", style: 'border:none;'
  