- unless @product.comments.blank?
  - @product.comments.includes(user: :profile).each do |comment|
    %div
      = image_tag(comment.user.avatar.thumb.url, alt: comment.user.username, title: comment.user.username)
    %div
      = comment.user.username
      %br
      = comment.content
    - if can? :destroy, comment
      %div
        = link_to I18n.t('common.delete'), comment_path(comment.id), method: :delete
%br
