- unless @product.comments.blank?
  - @product.comments.each do |comment|
    %div
      - if comment.user.avatar
        = image_tag(comment.user.avatar.thumb.url, alt: comment.user.username, title: comment.user.username)
      - else
        = image_tag('default_avatar_thumb.png')
    %div
      = comment.user.username
      %br
      = comment.content
%br
