#commentaires
.ui.segment
  %h2.ui.fluid.labeled.icon.purple
    %i.icon.circular.comment.purple
    Commentaires
  - unless @product.comments.blank?
    - @product.comments.includes(user: :profile).each do |comment|
      .ui.comments
        .comment
          .avatar
            = image_tag(comment.user.avatar.thumb.url, alt: comment.user.username, title: comment.user.username)
          .content
            .author
              = comment.user.username
            .text
              = comment.content
      - if can? :destroy, comment
        .actions.right
          = link_to I18n.t('common.delete'), comment_path(comment.id), method: :delete
