%h3.ui.header.block.black
  %i.icon.chat
  Mes contacts
.no-replied-yet
  = I18n.t('status.pending', count: @product.pending_status_for_owner.count)
.row.product-actions
  .ui.buttons
    - if @product.selled
      = link_to product_status_index_path(@product.slug), class: 'ui button starpop eye-button', 'data-content' => I18n.t('common.resee'), 'data-variation' => 'inverted' do
        %i.icon.unhide
    - else
      = link_to product_status_index_path(@product.slug), class: 'ui button starpop list-button', 'data-content' => I18n.t('common.my_contacts'), 'data-variation' => 'inverted' do
        %i.icon.users
      = link_to edit_product_path(@product.slug), class: 'ui button starpop setting-button', 'data-content' => I18n.t('common.edit'), 'data-variation' => 'inverted' do
        %i.icon.settings