#form-comment	
	.ui.grid.stackable
		%h3 Ajouter un commentaire
		.ui.three.column.wide
			.ui.image.label.comm-avatar.pointing.right
				= image_tag current_user.profile.avatar
		.ui.thirteen.wide.column
			= simple_form_for @comment, url: product_comments_path(@product.slug) do |f|
				= f.input :content, label: false, required: false
				= f.button :button, class: "ui submit fluid labeled icon button" do	
					%i.icon.edit
					Envoyer