%p
  %b Nom:
  = @product.name
%p
  %b Description:
  = @product.description

- @product.assets.each do |asset|
  = image_tag(asset.photo)
- if current_user == @user
  = link_to 'Editer', edit_product_path(@product.slug)
